html{
    background-image: url("bck4.png");
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
}

.total{
    background: linear-gradient(180deg, #CA0000 0%, rgba(202, 0, 0, 0) 100%);
    display: grid;
    border-radius: 50vw;
    width: 50vw;
    height: 50vw;
    align-items: center;
}

.h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 43.8vw;
    margin: auto;
    margin-bottom: -1vw;
    flex-grow: 0;
    flex-basis: auto;
}

h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 5.5vw;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -8px 7px 12px rgba(0, 0, 0, 0.4);
}

.p{
    margin: auto;
    margin-top: 1vw;
    width: 38vw;
    flex-grow: 0;
    flex-basis: auto;
}

p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.28vw;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.01em;

    color: #FFFFFF;
}